
@import 'ngx-toastr/toastr';

#toast-container > div {
    opacity:1;
}
.toast {
    opacity: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    height: 100%;
}